* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background:#efab35		
}
.logo{
    width: 10%;
    height: auto;
}

nav {
    display: flex;
    width: 100%
    margin: auto;
    padding: 2% ;
    justify-content: space-evenly;
}

nav ul li {
    display: inline-flex;
    flex-direction: row;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.details{
    display: flex;
    flex-direction: column;
    -ms-flex-align: center;
    text-align: center;
}

h1 {
    padding: none;
    text-align: center;
    margin-bottom: 1em;
}

p { 
    margin-bottom: 2em;
}

.menu {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 50%;
}

iframe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}

#portrait {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    width: 20%;
    border: 5px solid #555;
}

figcaption {
    margin: 1em;
    font-weight: bold;
    font-size: large;
}

.fring{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    width: 50%;
    border: 5px solid #555;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-column-align: center;
}

.gridimage {
    width: 400 px;
    height: 535px;
    margin: 1em;
    border: 5px solid #555;

}